input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.rbc-calendar {
    min-height: 500px;
    height: 100%;
    width: 100%;
    background-color: white;
}

.editable {
    all: unset;
    margin: 0;
    padding: 0;
    margin: 1px 0;
    background-color: none;
    width: 3ch;
    height: min-content;
    font-weight: bold;
}

.editable:hover,
.editable:focus {
    margin: 0;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: normal;
}

#budgetView {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
}

#extraView {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
}

.unpaid {
    background-color: rgb(248 113 113) !important;
    color: black !important;
}

.paid {
    background-color: rgb(74 222 128) !important;
    color: black !important;
}

.arrow:hover {
    fill: #3818fd;
}

#bwLogo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    scale: 0.75;
}

.shrink {
    transform: scale(0.8);
    transition: 0.3s;
}

.left {
    animation-name: slideLeft;
    animation-duration: 300ms;
    left: 0;
}

.right {
    animation-name: slideRight;
    animation-duration: 300ms;
    left: calc(100% - 64px);
}

@keyframes slideLeft {
    0% {
        left: calc(100% - 64px);
    }
    100% {
        left: 0;
    }
}

@keyframes slideRight {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 64px);
    }
}

.sidebar {
    height: auto;
    transition: 300ms;
    max-height: 1000px;
}

.sidebarClose {
    max-height: 0px;
    transition: 300ms;
    transform: scaleY(0);
    visibility: hidden;
}
